<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<nav>
  <ul>
    <li><a href="/dashboard">Tableau de bord</a></li>
    <li><a href="/catways">Catways</a></li>
    <li><a href="/reservations">Réservations</a></li>
    <li><a href="/users">Utilisateurs</a></li>
    <li><a href="/docs">Documentation API</a></li>
    <li><a href="/logout">Se déconnecter</a></li>
  </ul>
</nav>
<hr>
</body>
</html>
